.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  color: #991a25;
  font-size: 4rem;
}
.starting p {
  color: #991a25;
  font-size: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}